
body 
{
    background-size: cover;
    background-position: center;
}

.heading 
{
    width: 100%;
    text-align: left;
    font-size: 25px;
}

.heading button 
{
    float: right;
    border: 1px solid white;
    font-size: 18px;
}

.big_img 
{
    width: 100%;
}

#start, #status, #restart
{
    font-size: 20px;
}

canvas 
{
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px green;
}